/*

005 Statistics

*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
/* Declared the colors */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  width: 400px;
  height: 400px;
  background: #42A7A1;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif; }

.card {
  position: absolute;
  top: 90px;
  left: 60px;
  width: 280px;
  height: 220px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  background: #fff;
  /** Parameter **/
  /** Statistic **/
  /* Days **/ }
  .card .header {
    position: relative;
    background: #F1BA64;
    height: 60px;
    width: 100%; }
    .card .header .big {
      position: absolute;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px; }
    .card .header .small {
      position: absolute;
      font-weight: 400;
      font-size: 11px; }
    .card .header .title {
      top: 12px;
      left: 15px; }
    .card .header .date {
      top: 30px;
      left: 15px; }
    .card .header .type {
      right: 15px;
      top: 14px; }
    .card .header .value {
      right: 15px;
      top: 28px; }
  .card .parameter {
    color: #606060;
    text-align: right;
    padding: 10px 0 14px 0; }
    .card .parameter span {
      font-size: 9px;
      line-height: 13px;
      padding: 0 10px 0 25px;
      width: 6px;
      height: 3px;
      position: relative; }
      .card .parameter span:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 11px;
        height: 3px;
        border-radius: 3px; }
      .card .parameter span.red:before {
        background: #FA7373; }
      .card .parameter span.blue:before {
        background: #7BA2FF; }
  .card .statistic {
    position: relative;
    height: 81px;
    width: 260px;
    margin: 0 auto;
    /** Data **/ }
    .card .statistic .line-1, .card .statistic .line-2, .card .statistic .line-3 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: #F2F2f2; }
    .card .statistic .line-2 {
      top: 40px; }
    .card .statistic .line-3 {
      top: inherit;
      bottom: 0; }
    .card .statistic .data {
      /* Red */
      /* Blue */ }
      .card .statistic .data svg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
      .card .statistic .data polyline {
        stroke-width: 2;
        stroke-linecap: round;
        fill: none; }
      .card .statistic .data.red polyline {
        stroke: #FA7373; }
      .card .statistic .data.blue polyline {
        stroke: #7BA2FF; }
      .card .statistic .data .tooltip {
        position: absolute;
        left: 50%;
        bottom: 13px;
        transform: translate3d(-50%, 10px, 0);
        color: #fff;
        font-size: 11px;
        line-height: 11px;
        padding: 8px 6px;
        font-weight: 600;
        border-radius: 3px;
        visibility: hidden;
        opacity: 0;
        transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s; }
        .card .statistic .data .tooltip:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -2px;
          left: 42%;
          width: 5px;
          height: 5px;
          transform: rotate(45deg); }
      .card .statistic .data [class^="point-"] {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        cursor: pointer;
        z-index: 10; }
        .card .statistic .data [class^="point-"]:hover .tooltip {
          visibility: visible;
          transform: translate3d(-50%, 0, 0);
          opacity: 1; }
      .card .statistic .data.red [class^="point-"], .card .statistic .data.red .tooltip, .card .statistic .data.red .tooltip:after {
        background: #FA7373; }
      .card .statistic .data.red .point-1 {
        top: 43px;
        left: 6px; }
      .card .statistic .data.red .point-2 {
        left: 48px;
        top: 10px; }
      .card .statistic .data.red .point-3 {
        left: 88px;
        top: 20px; }
      .card .statistic .data.red .point-4 {
        left: 128px;
        top: 8px; }
      .card .statistic .data.red .point-5 {
        left: 169px;
        top: 36px; }
      .card .statistic .data.red .point-6 {
        left: 209px;
        top: 45px; }
      .card .statistic .data.red .point-7 {
        left: 249px;
        top: 16px; }
      .card .statistic .data.blue [class^="point-"], .card .statistic .data.blue .tooltip, .card .statistic .data.blue .tooltip:after {
        background: #7BA2FF; }
      .card .statistic .data.blue .point-1 {
        left: 7px;
        top: 59px; }
      .card .statistic .data.blue .point-2 {
        left: 48px;
        top: 48px; }
      .card .statistic .data.blue .point-3 {
        left: 88px;
        top: 62px; }
      .card .statistic .data.blue .point-4 {
        left: 128px;
        top: 53px; }
      .card .statistic .data.blue .point-5 {
        left: 169px;
        top: 59px; }
      .card .statistic .data.blue .point-6 {
        left: 209px;
        top: 72px; }
      .card .statistic .data.blue .point-7 {
        left: 249px;
        top: 62px; }
  .card .days {
    color: #949494;
    font-size: 9px;
    width: 280px;
    margin: 0 auto; }
    .card .days .day {
      width: 14.28571%;
      float: left;
      line-height: 30px;
      text-transform: uppercase;
      text-align: center; }
